[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''{n=G.UIT.R, config={minh = spacing},nodes={}},
{n=G.UIT.R, config={align = "cm"}, nodes={'''
position = "after"
payload = '''
{n=G.UIT.C, config={id = 'hud_who_curse',align = "cm", padding = 0.05, minw = .8, minh = 1.15, colour = temp_col, emboss = 0.05, r = 0.1}, nodes={
  {n=G.UIT.R, config={align = "cm", minh = 0.33, maxw = .9}, nodes={
    {n=G.UIT.T, config={text = "Curse", scale = 0.85*scale, colour = G.C.UI.TEXT_LIGHT, shadow = true}},
  }},
  {n=G.UIT.R, config={align = "cm", r = 0.1, minw = .2, colour = temp_col2}, nodes={
    {n=G.UIT.O, config={object = DynaText({string = {{ref_table = G.GAME.who, ref_value = 'curse'}}, colours = {G.C.IMPORTANT},shadow = true, font = G.LANGUAGES['en-us'].font, scale = 2*scale}),id = 'who_curse_UI_number'}},
    --{n=G.UIT.T, config={text = " ", scale = 0.3*scale}},
    --{n=G.UIT.T, config={text = "/ ", scale = 0.7*scale, colour = G.C.WHITE, shadow = true}},
    --{n=G.UIT.T, config={ref_table = G.GAME, ref_value='win_ante', scale = scale, colour = G.C.WHITE, shadow = true}}
  }}
}},
{n=G.UIT.C, config={minw = spacing},nodes={}},
'''
match_indent = true
times = 1

[[patches]]
[patches.regex] #this should not need regex but pattern search is unable to find anything to do with displaying money. codes haunted
target = "functions/UI_definitions.lua"
pattern = '''1.45\*2'''
position = "at"
payload = '''
1.04*2
'''
match_indent = false
times = 1

[[patches]]
[patches.regex]
target = "functions/UI_definitions.lua"
pattern = '''1.28\*2'''
position = "at"
payload = '''
.87*2
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target ="functions/UI_definitions.lua"
pattern = '''{n=G.UIT.R, config={id = 'run_info_button', align = "cm", minh = 1.75, minw = 1.5,padding = 0.05, r = 0.1, hover = true, colour = G.C.RED, button = "run_info", shadow = true}, nodes={'''
position = "at"
payload = '''
{n=G.UIT.R, config={id = 'run_info_button', align = "cm", minh = 1.75, minw = 1,padding = 0.05, r = 0.1, hover = true, colour = G.C.RED, button = "run_info", shadow = true}, nodes={
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target ="functions/UI_definitions.lua"
pattern = '''{n=G.UIT.R, config={align = "cm", minh = 1.75, minw = 1.5,padding = 0.05, r = 0.1, hover = true, colour = G.C.ORANGE, button = "options", shadow = true}, nodes={'''
position = "at"
payload = '''
{n=G.UIT.R, config={align = "cm", minh = 1.75, minw = 1,padding = 0.05, r = 0.1, hover = true, colour = G.C.ORANGE, button = "options", shadow = true}, nodes={
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''-- TARGET: add your own CardAreas for joker evaluation'''
position = "before"
payload = '''
if G.banes then
t[#t+1] = G.banes
end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = '''game.lua'''
pattern = '''self.jokers = CardArea('''
position = "before"
payload = '''
self.banes = CardArea(
    4.75, -3,
    1.5*G.CARD_W, --it might be better to have a variable for this elsewhere but for now i dont need it
    .5*G.CARD_W,
    {card_limit = 3, type = 'joker', highlight_limit = 0, card_w=1})
self.bane_bank = CardArea(
    0, 0,
    0, 0,
    {card_limit = 500, type = 'discard'})
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''G.play.T.x = G.hand.T.x + (G.hand.T.w - G.play.T.w)/2'''
position = "after"
payload = '''
  if G.GAME.who.banes_down then
      G.banes.T.y = 3
  end
'''
match_indent = true
times = 1
[[patches]]
[patches.pattern]
target = '''game.lua'''
pattern = '''table.sort(G.playing_cards, function (a, b) return a.playing_card > b.playing_card end )'''
position = "after"
payload = '''
for i, b in pairs(G.banes.cards) do
    b.states.click.can = false
    b.states.drag.can = false
    b.T.w = G.banes.T.h
    b.T.h = G.banes.T.h
end
'''
match_indent = true
times = 1

[[patches]] ## end blind
[patches.pattern]
target = '''functions/state_events.lua'''
pattern = '''G.RESET_BLIND_STATES = true'''
position = "after"
payload = '''
G.banes.cards = {}
G.banes.T.y = -3
G.GAME.who.banes_down = False
'''
match_indent = true
times = 1

[[patches]] ## start blind
[patches.pattern]
target = '''functions/state_events.lua'''
pattern = '''G.GAME.blind:set_blind(G.GAME.round_resets.blind)'''
position = "after"
payload = '''
local selected_banes = G.FUNCS.who_get_banes_from_set(G.GAME.who.round_reset_bane_value[G.GAME.blind_on_deck], G.GAME.who.round_reset_banes[G.GAME.blind_on_deck])
for i, v in pairs(selected_banes) do
  local bane = copy_card(selected_banes[#selected_banes-(i-1)])
  bane.pinned = true
  bane.T.w = .5*G.CARD_W
  bane.T.h = .5*G.CARD_W
  bane.states.click.can = false
  bane.states.drag.can = false
  G.banes:emplace(bane)
end
if #G.banes.cards > 0 then
    G.GAME.who.banes_down = true
    G.banes.T.y = 3
end
'''
match_indent = true
times = 1

[[patches]] ##reset rounds
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''G.GAME.round_resets.blind_choices.Boss = get_new_boss()'''
position = "after"
payload = '''
G.FUNCS.who_get_bane_set()
'''
match_indent = true
times = 1

[[patches]] ##start new game
[patches.pattern]
target = '''game.lua'''
pattern = '''G.GAME.blind:set_blind(nil, nil, true)'''
position = "before"
payload = '''
G.FUNCS.who_get_bane_set()  --idk if it matters where in the load i put this but here it goes
'''
match_indent = true
times = 1

[[patches]] ##start loaded game
[patches.pattern]
target = '''game.lua'''
pattern = '''G.GAME.blind:load(saveTable.BLIND)'''
position = "before"
payload = '''
G.FUNCS.who_load_bane_set()
'''
match_indent = true
times = 1


[[patches]]
[patches.pattern]
target = '''functions/UI_definitions.lua'''
pattern = '''G.GAME.orbital_choices[G.GAME.round_resets.ante] = G.GAME.orbital_choices[G.GAME.round_resets.ante] or {}'''
position = "after"
payload = '''
local selected_banes = G.FUNCS.who_get_banes_from_set(G.GAME.who.round_reset_bane_value[type], G.GAME.who.round_reset_banes[type])
local baneui = nil
if #selected_banes > 0 then
baneui = {n=G.UIT.C, config={align = "cl", padding = 0}, nodes={}}
      for i, v in pairs(selected_banes) do
          local bane = copy_card(v)
          bane.states.click.can = false
          bane.states.drag.can = false
          bane.T.w = .7
          bane.T.h = .7
          baneui.nodes[#baneui.nodes+1] = {n=G.UIT.R, config={align = "cl"}, nodes={ {n = G.UIT.O, config = {maxw=.7, maxh=.7, minw = .4, minh = .4, object = bane} } }}
      end

end
'''
match_indent = true
times = 1


[[patches]]
[patches.pattern]
target = '''functions/UI_definitions.lua'''
pattern = '''{n=G.UIT.O, config={object = blind_choice.animation}},'''
position = "after"
payload = '''
  baneui,
'''
match_indent = false
times = 1
