[manifest]
version = "1.0.0"
dump_lua = true
priority = 2


[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "blind_on_deck = nil,"
position = "after"
payload = '''
interest_divider = 5,
'''
match_indent = true
times = 1

 # hate let me tell you how much i have grown to hate this
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
if G.GAME.dollars >= 5 and not G.GAME.modifiers.no_interest then
'''
position = "at"
payload = '''
if G.GAME.dollars >= math.max(G.GAME.interest_divider, 1) and not G.GAME.modifiers.no_interest then
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)})
'''
position = "at"
payload = '''
add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/math.max(G.GAME.interest_divider, 1)), G.GAME.interest_cap/5)})
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
if G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5) == G.GAME.interest_amount*G.GAME.interest_cap/5 then
'''
position = "at"
payload = '''
if G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/ math.max(G.GAME.interest_divider, 1)), G.GAME.interest_cap/5) == G.GAME.interest_amount*G.GAME.interest_cap/5 then
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)
'''
position = "at"
payload = '''
dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/math.max(G.GAME.interest_divider, 1)), G.GAME.interest_cap/5)
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
table.insert(left_text,{n=G.UIT.O, config={object = DynaText({string = {" "..localize{type = 'variable', key = 'interest', vars = {G.GAME.interest_amount, 5, G.GAME.interest_amount*G.GAME.interest_cap/5}}}, colours = {G.C.UI.TEXT_LIGHT}, shadow = true, pop_in = 0, scale = 0.4*scale, silent = true})}})
'''
position = "at"
payload = '''
table.insert(left_text,{n=G.UIT.O, config={object = DynaText({string = {" "..localize{type = 'variable', key = 'interest', vars = {G.GAME.interest_amount, math.max(G.GAME.interest_divider, 1), G.GAME.interest_amount*G.GAME.interest_cap/5}}}, colours = {G.C.UI.TEXT_LIGHT}, shadow = true, pop_in = 0, scale = 0.4*scale, silent = true})}})
'''
match_indent = true
times = 1


#from here on is talisman support
[[patches]]
[patches.regex]
target = "functions/state_events.lua"
pattern = '''to_big\(G\.GAME\.dollars\) >= to_big\(5\)'''
position = "at"
payload = "to_big(G.GAME.dollars) >= to_big(math.max(G.GAME.interest_divider, 1))"
match_indent = true
